.big-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.property-card {
    width: 70rem;
    max-width: 100%;
    padding: 1.5rem;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: flex-start;
    flex-direction: column;
}

.property-img {
    max-width: 100%;
    max-height: 100%;
}

.img-gallery {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    height: 30rem;
}

.left-side-gallery {
    width: 60%;
    padding-right: 1rem;
    height: 100%;
    display: flex;
    justify-content: center;
    border-right: 1px solid white;
    background-color: #e4e4e4;
}

.left-side-gallery img {
    height: 100%;
    max-width: 100%;
}

.right-side-gallery {
    width: 39%;
    padding-left: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid white;
    background-color: #e4e4e4;
}

.right-side-gallery img {
    height: 49%;
    max-width: 100%;
    align-self: center;
}

.top-img {
    padding-bottom: 0.3rem;
}

.bot-img {
    padding-top: 0.3rem;
}

.reservation-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
    margin-top: 0.5rem;
}

.mat-button {
    background-color: #99C4C8;
    border: 0.5px solid rgb(139, 135, 135) !important;
}

.mat-button:hover:enabled {
    transition: .08s ease-in;
    background-color: #85aaad;
    border: 2px solid black !important;
    color: white;
}

mat-card-content {
    width: 100%;
}

.property-address {
    color: #68A7AD;
    font-weight: 500;
    font-size: 1.2rem;
}

.property-guests {
    font-size: 1rem;
}

.property-description {
    font-size: 1rem;
}

.property-price {
    color: #68A7AD;
    font-weight: 500;
    font-size: 1.5rem;
}

.error {
    color: red;
    text-align: center;
    height: 1rem;
    width: 100%;
  }