.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #68A7AD;
    color: #FEFBE7;
}

.navbar span {
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar-button {
    color: #FEFBE7;
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.3rem;
    padding: 0.3rem;
    border-radius: 4%;
    transition: 0.2s ease;
}

.navbar-button:hover {
    background-color: #5c9297;
}