.search-form {
  display: flex;
  justify-content: center;
  background-color: #99C4C8;
  padding-top: 10rem;
  align-items: stretch;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
  margin-top: 0.5rem;
}

::ng-deep .mat-button {
  background-color: white;
  height: 56.5%;
  border: 0.5px solid lightgray !important;
}