<div>
    <table mat-table [dataSource]="reservations" style="width: 70rem; max-width: 100%;">
        <ng-container matColumnDef="checkin">
            <th mat-header-cell *matHeaderCellDef>Check-in Date</th>
            <td mat-cell *matCellDef="let res">{{formatDate(res.checkinDate) | date}}</td>
        </ng-container>

        <ng-container matColumnDef="checkout">
            <th mat-header-cell *matHeaderCellDef>Check-out Date</th>
            <td mat-cell *matCellDef="let res">{{formatDate(res.checkoutDate) | date}}</td>
        </ng-container>

        <ng-container matColumnDef="property">
            <th mat-header-cell *matHeaderCellDef>Property</th>
            <td mat-cell *matCellDef="let res">{{res.property?.name}}</td>
        </ng-container>

        <ng-container matColumnDef="totalPrice">
            <th mat-header-cell *matHeaderCellDef>Total price</th>
            <td mat-cell *matCellDef="let res">{{res.totalPrice | currency: 'EUR'}}</td>
        </ng-container>
        
        <ng-container matColumnDef="guests">
            <th mat-header-cell *matHeaderCellDef>Guests</th>
            <td mat-cell *matCellDef="let res">{{res.guestsNumber}}</td>
        </ng-container>

        <ng-container matColumnDef="buttons">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let res" class="buttons">
                <a 
                    class="edit"
                    (click)="openModal(res.reservationId)"
                    *ngIf="!checkDate(res.checkinDate)">
                    <mat-icon>edit</mat-icon>
                </a>
                <a 
                    class="delete" 
                    (click)="delete(res.reservationId)"
                    *ngIf="!checkDate(res.checkinDate)">
                    <mat-icon>delete</mat-icon>
                </a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>